/* +++++++++++++++ Header +++++++++++++ */
#navbar {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    padding-top: 30px;
    padding-left: 40px;
  }
  
  .logo img {
    width: 220px;
  }
  
  .nav-item-container {
    padding-top: 35px;
  }
  
  .nav-item {
    font-size: 18px;
    letter-spacing: -0.64px;
  }
  
  .nav-item a.active {
    color: #7B746A;
    transition: all 0.4s ease;
  }
  
  .nav-item a.active::before {
    content: "";
    position: absolute;
    left: -45px;
    bottom: 12px;
    background-color: #7B746A;
    height: 2px;
    width: 30px;
  }
  
  .nav-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: flex-start;
    height: 55px;
  }
  
  .enquire-btn {
    width: 240px;
    height: 55px;
    line-height: 1;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .ham-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .ham-menu img {
    width: 22px;
  }
  
