.nearby-container h2{
    color: #564F45;
}

.nearby-container h2::before{
    content: "01.";
    position: absolute;
    font-size: 12px;
    top: -13px;
    left: -15px;
}

.site-info{
    border: 1px solid #564F45;
    align-items: flex-start;
    border-radius: 17px;
    gap: 10px;
    padding: 35px 25px;
    width: 100%;
}

.site-left,
.site-right{
    gap: 20px;
}

.site-info img{
    width: 25px;
}

.site-info p{
    font-size: 14px;
}

.site-info a{
    font-size: 14px;
    color: #5D5652;
    text-decoration: underline;
}

.arrow{
    margin-left: 5px;
    width: 13px !important;
}

.site-btn{
    height: 50px;
    width: 100%;
    color: #F7F8F8;
    border-radius: 50px;
}

#easy-access{
    background: url("../assets/easybanner.png");
    background-size: cover;
    height: 100vh;
}

.access-container{
    top: 0;
    left: 0;
}