.nearby-container h2{
    color: #564F45;
}

.nearby-container h2::before{
    content: "01.";
    position: absolute;
    font-size: 14px;
    top: -13px;
    left: -22px;
}

.site-container{
    margin-top: 50px;
}

.site-info{
    border: 1px solid #564F45;
    align-items: flex-start;
    border-radius: 17px;
    gap: 10px;
    padding: 35px 25px;
    width: 100%;
}

.site-left,
.site-right{
    gap: 20px;
}

.site-info img{
    width: 25px;
}

.site-info p{
    font-size: 14px;
}

.site-info a{
    font-size: 14px;
    color: #5D5652;
    text-decoration: underline;
}

.arrow{
    margin-left: 5px;
    width: 13px !important;
}

.site-btn{
    height: 50px;
    width: 100%;
    color: #F7F8F8;
    border-radius: 50px;
}

.invest-container h2::before{
    content: "03.";
    position: absolute;
    font-size: 14px;
    top: -13px;
    left: -22px;
}

.why-invest h3{
    margin: 30px 0 25px 0;
}

.why-invest h3::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 12%;
    height: 2px;
    background-color: #00000033;
}

.why-invest-ul{
    color: rgba(148, 143, 135, 0.8);
}

.why-invest-ul li{
    margin-bottom: 10px;
    font-size: 14px;
}

.why-invest-ul li img{
    width: 20px;
    margin-right: 13px;
}

.invest-right img{
    width: 700px;
}